<div>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput placeholder="Placeholder@" type="text" />
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <mat-icon matSuffix><span class="material-symbols-outlined"> person </span></mat-icon>
    <mat-error>error</mat-error>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="*******" type="password" />
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <mat-hint>Hint</mat-hint>
    <mat-icon matSuffix><span class="material-symbols-outlined"> password </span></mat-icon>
    <mat-error>error</mat-error>
  </mat-form-field>
</div>
